*{
  margin:0px;
  padding:0px;
  box-sizing: border-box;
}
.bg-success{
  width:100%;
  height:600px;
}
.shopify{
  text-align: center;
  padding-top:50px;
  color:white;
  font-style: italic;
  font-size: 24px;
}
input{
  width:200px;
  padding:5px;
  outline: none;
}
button{
  border:0px;
  width:200px;
  padding: 7px;
  background-color: black;
  color:white;
}
button:hover{
  text-decoration: underline;
}
.input-button{
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 30px;
}
.form{
  margin-top:20px;
  background-color: brown;
  width:500px;
  height:400px
  
}
.form input{
     width:300px;
     margin-top:30px;
     margin-left:100px;
}
.form button{
  margin-top:20px;
  margin-left: 150px;
}
.head{
  display: flex;
  justify-content: center;
}